/* .boutons-heros contient l'image,
et un div qui contient 1 div titre et 1 div boutons */
.boutons-heros {
	position: relative;
	display: flex;
	min-height: 85dvh;
}

/*le titre*/
.boutons-heros h2 {
	margin: var(--espace-tres-grand);
	z-index: 2;
	font-size: var(--police-grand);
}

/*div qui contient le titre et un div avec des boutons*/
.boutons-heros > div {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: var(--z-1);
}

/*c'est le div qui contient les boutons*/
.boutons {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: var(--espace-tres-grand);
}

/*les boutons*/
.boutons > .bouton {
	margin-left: var(--espace-tres-grand);
	max-width: initial;

	transition-property: transform;
	transition-duration: 200ms;
}

.boutons > .bouton:hover {
	transform: translateX(var(--espace-tres-grand-neg));
}
