/*restreindre taille du body*/
body {
	max-width: var(--largeure-max);
	margin-left: var(--margin-auto);
	margin-right: var(--margin-auto);
}

body > * + * {
	margin-top: var(--gouttiere);
}

body > main > * + * {
	margin-top: var(--espace-enorme);
}

main > section > * + * {
	margin-top: var(--gouttiere);
}

/*margin right sur les titres de sections*/
main .titre-en-page {
	margin-left: var(--espace-tres-grand);
	font-size: var(--police-grand);
}
