.couleur-pale {
	color: var(--nuance-pale);
}

.couleur-principal {
	color: var(--principal);
}

.couleur-accent-fonce {
	color: var(--accent-fonce-opaque);
}

.couleur-fonce {
	color: var(--nuance-fonce);
}

.fond-pale {
	background-color: var(--nuance-pale);
}

.fond-principal {
	background-color: var(--principal);
}

.fond-accent-fonce {
	background-color: var(--accent-fonce);
}

.fond-fonce {
	background-color: var(--nuance-fonce);
}

.fond-fonce-transparent {
	background-color: var(--nuance-fonce-transparent);
}

/*exceptions*/
[data-textshadow="accent-fonce"] {
	text-shadow: var(--accent-fonce-opaque) 2px 2px 20px;
}

[data-textshadow="nuance-fonce"] {
	text-shadow: 2px 2px 6px var(--nuance-fonce);
}
