.entete-hero {
	position: relative;
	min-height: 70dvh;
}

/* text de l'entete en deux colones */
.entete-hero > div {
	position: relative;
	padding: calc(var(--espace-moyen) + var(--espace-moyen));

	display: flex;
	gap: var(--espace-moyen);
	flex-direction: row;
	align-items: first baseline;
}

/* premiere colone*/
.entete-hero .zone-titre {
	flex-basis: 50%;
	white-space: nowrap;
}

.entete-hero .zone-titre > * {
	font-size: var(--police-tres-grand);
}

/* deuxieme colone*/
.entete-hero .zone-info {
	text-align: left;
	white-space: wrap;
	padding: var(--espace-tres-grand);
	flex-basis: 50%;
}

.entete-hero .zone-info h1 {
	font-size: var(--police-grand);
}

.entete-hero .zone-info p {
	font-size: var(--police-moyen);
	margin-top: var(--espace-enorme);
	margin-bottom: var(--espace-moyen);
}
