footer {
	display: flex;
	flex-direction: row;
	gap: 150px;
	align-items: stretch;

	padding-top: var(--espace-tres-grand);
	padding-bottom: var(--espace-tres-grand);
}

/* les colonnes de liens */
footer > div {
	display: flex;
	flex-direction: column;
}

/* ligne décorative a la gauche des colonnes de liens SAUF la premiere colone*/
footer > div:not(:first-child),
footer > div > div {
	border-left: white 1px solid;
	border-image: var(--ligne-style-blanc);
	padding-left: var(--espace-tres-grand);
}

/* la premiere colone de liens */
footer > div:first-child {
	margin-left: var(--espace-moyen);
}

footer a {
	margin-top: vaR(--espace-petit);
	padding: var(--espace-petit);

	max-width: fit-content;
	border-bottom: 2px solid transparent;

	transition-property: border-bottom;
	transition-duration: 200ms;
}

/* les "titres" pour chaque section */
footer a:first-child {
	font-size: calc(var(--police-petit) + 4px);
}

footer a:hover {
	border-bottom: 2px solid var(--nuance-pale);
}

/*contact area*/
footer > div > div {
	margin-left: var(--espace-moyen);
	margin-top: auto;
	margin-bottom: var(--espace-moyen);
}

/*contact*/
footer p {
	font-size: var(--police-tres-petit);
	font-weight: 200;
}

/*contactez-nous*/
footer h1 {
	margin-bottom: var(--espace-petit);
	font-weight: 200;
	font-size: var(--police-moyen);
}
