/* ce module respecte l'ordre d'apparition 
dans le html (si le text vient avant l'image,
il sera a gauche, sinon il sera a droite) */

.module-horizontale{
    display: flex;
    flex-direction: row;
}

.module-horizontale picture{
    flex-basis: 60%;
    min-height: 80vh;
}

.module-horizontale img{
    width: 100%;
    height: 100%;
}

.module-horizontale div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--espace-moyen);
    padding: var(--espace-tres-grand);
    background-color: var(--gris-pale);
    flex-basis: 40%;
}

.module-horizontale p{
    font-size: var(--police-moyen-grand);
    padding-bottom: var(--espace-petit);
}

/* ajouter la marge à tout les cartes sauf la dernière--semblable au hiboux lobotimisé */
 .module-horizontale + .module-horizontale {
    margin-top: var(--gouttiere);

 }
