/* pour gerer l'espacement du module dans la page */
.module-image-cercle {
	margin-right: var(--espace-tres-grand);
	margin-left: var(--espace-tres-grand);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--espace-moyen);

	padding: var(--espace-tres-grand);
	box-shadow: var(--ombre);
}

/* l'image a presentement une taille fixe
ceci assure aucune déformation du cercle */
.module-image-cercle picture {
	max-width: 470px;
	max-height: 470px;
	border-radius: 50%;
	overflow: hidden;
	inset: 0;
	margin: var(--espace-tres-grand);
}

.module-image-cercle h2 {
	font-size: var(--police-tres-grand);
	line-height: 1;
	margin-bottom: var(--police-tres-grand);
}

.module-image-cercle h3 {
	font-size: var(--police-moyen);
}

.module-image-cercle a {
	font-size: var(--police-moyen);
	margin-top: var(--police-tres-grand);
	margin-left: var(--espace-moyen);
}

.module-image-cercle div * {
	padding-left: var(--espace-moyen);
	padding-right: var(--espace-moyen);
}

/*espacement entre les premiers et derniers 
elements du module*/
.module-image-cercle div:nth-child(1) {
	padding-top: var(--espace-moyen);
}

.module-image-cercle div :last-child {
	margin-bottom: var(--espace-moyen);
}
