.module-evenement {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--espace-moyen);
}
.module-evenement > *:nth-child(1) {
	padding: var(--espace-tres-grand);
	min-width: 45ch;
	max-width: 80ch;

	flex-basis: 0;
	flex-grow: 1;
}

.module-evenement > *:nth-child(2) {
	padding: var(--espace-tres-grand);
	min-width: 45ch;
	max-width: 80ch;

	flex-basis: 0;
	flex-grow: 1;
}

.module-evenement h2 {
	font-size: var(--police-enorme);
}

.module-evenement h3 {
	font-size: var(--police-tres-grand);
	padding-bottom: var(--espace-tres-grand);
}

.module-evenement h4 {
	font-size: var(--police-grand);
	padding-bottom: var(--espace-petit);
}

.module-evenement h5 {
	padding-bottom: var(--espace-petit);
	padding-top: var(--espace-moyen);
}

/*source: https://codepen.io/Amine_Es/pen/WNNRVyb */
.module-evenement li {
	list-style: none;
}

.module-evenement li::before {
	content: "\2014";
	padding: 2px;
}

.module-evenement article h5 {
	margin-top: var(--espace-moyen);
}

/* pour le rhythm visuel--aucun effet sur le bouton */
.module-evenement .bouton {
	margin-top: var(--espace-enorme);
	align-self: flex-end;
}
