[id="navigation"] {
	display: flex;
	align-items: center;
	background-color: black;
	color: white;
	z-index: 1;
	padding: var(--espace-moyen);
}

[id="navigation"] li {
	list-style-type: none;
}

[id="navigation"] a {
	display: block;
	padding: var(--espace-moyen);
	font-size: var(--police-moyen-petit);
}

[id="navigation"] a:not(.logo) {
	min-width: 15ch;
}
[id="navigation"] a:hover {
	background-color: var(--gris-tres-fonce);
}

[id="navigation"] .logo {
	height: 64px;
	width: 64px;
	aspect-ratio: 1 / 1;
}
